<ion-header class="ion-no-border admin-child-header" collapse="fade" [translucent]="true" style="padding-top: 0px !important; --ion-safe-area-top: 0px;">
  <ion-toolbar class="px-2 pt-3">
    <ion-searchbar [value]="searchQuery" (ionInput)="onSearch($event)" placeholder="Search by name, owner or category..." mode="ios" animated="true" class="premium-searchbar"></ion-searchbar>
  </ion-toolbar>
  <ion-toolbar class="px-2 pb-2">
    <ion-segment [value]="segmentValue" (ionChange)="segmentChanged($event)" mode="ios" class="premium-segment">
      <ion-segment-button value="ALL">
        <ion-label>All</ion-label>
      </ion-segment-button>
      <ion-segment-button value="PENDING">
        <ion-label>Pending</ion-label>
      </ion-segment-button>
      <ion-segment-button value="ACTIVE">
        <ion-label>Active</ion-label>
      </ion-segment-button>
      <ion-segment-button value="SUSPENDED">
        <ion-label>Suspended</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #fff;">
  <app-admin-businesses-list [searchQuery]="searchQuery" [statusFilter]="segmentValue"></app-admin-businesses-list>
</ion-content>
