<ion-header class="ion-no-border admin-child-header" collapse="fade" [translucent]="true" style="padding-top: 0px !important; --ion-safe-area-top: 0px;">
  <div class="admin-search-filter-bar">
    <ion-searchbar
      [value]="searchQuery"
      (ionInput)="onSearch($event)"
      placeholder="Search users..."
      mode="md"
      class="premium-searchbar">
    </ion-searchbar>
    <button (click)="openFilter()" type="button" class="filter-icon-btn" aria-label="Filter by region">
      <ion-icon name="filter-outline"></ion-icon>
      @if (stateId || districtId) {
        <span class="filter-active-dot"></span>
      }
    </button>
  </div>
  <ion-toolbar class="px-2 pb-2">
    <ion-segment [value]="segmentValue" (ionChange)="segmentChanged($event)" mode="ios" class="premium-segment">
      <ion-segment-button value="members">
        <ion-label>Members</ion-label>
      </ion-segment-button>
      <ion-segment-button value="customers">
        <ion-label>Customers</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #fff;">
  <div>
    @switch (segmentValue) {
      @case ('members') {
        <app-admin-members-list [searchQuery]="searchQuery" [stateId]="stateId" [districtId]="districtId"></app-admin-members-list>
      }
      @case ('customers') {
        <app-admin-customers-list [searchQuery]="searchQuery" [stateId]="stateId" [districtId]="districtId"></app-admin-customers-list>
      }
    }
  </div>
</ion-content>

<app-admin-region-filter-modal
  [isOpen]="isFilterOpen"
  [stateId]="stateId"
  [districtId]="districtId"
  (filterApplied)="onFilterApplied($event)"
  (closed)="isFilterOpen = false"></app-admin-region-filter-modal>

