<ion-header class="ion-no-border admin-child-header" collapse="fade" [translucent]="true" style="padding-top: 0px !important; --ion-safe-area-top: 0px;">
  <ion-toolbar class="px-2 pt-3">
    <ion-searchbar [value]="searchQuery" (ionInput)="onSearch($event)" placeholder="Search users..." mode="ios" animated="true" class="premium-searchbar"></ion-searchbar>
  </ion-toolbar>
  <ion-toolbar class="px-2 pb-2">
    <ion-segment [value]="segmentValue" (ionChange)="segmentChanged($event)" mode="ios" class="premium-segment">
      <ion-segment-button value="members">
        <ion-label>Members</ion-label>
      </ion-segment-button>
      <ion-segment-button value="customers">
        <ion-label>Customers</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #fff;">
  <div [ngSwitch]="segmentValue">
    <app-admin-members-list *ngSwitchCase="'members'" [searchQuery]="searchQuery"></app-admin-members-list>
    <app-admin-customers-list *ngSwitchCase="'customers'" [searchQuery]="searchQuery"></app-admin-customers-list>
  </div>
</ion-content>
