<div class="business-card" (click)="businessClick.emit(business())">
  <div class="card-image-box" [appCachedBgImg]="business().bannerUrl">
    <div class="image-overlay"></div>
    <span class="category-badge">{{ business().categoryName || 'Partner' }}</span>
  </div>

  <div class="card-content">
    <div class="biz-header">
      <img [appCachedImg]="business().logoUrl" alt="logo" class="biz-logo" />
      <div class="title-row">
        <h3 class="biz-name">{{ business().name }}</h3>
      </div>
    </div>

    <p class="biz-desc">{{ business().description }}</p>

    <div class="card-footer">
      <span class="biz-location">
        🌐 {{ business().website || 'Verified Partner' }}
      </span>
      <span class="explore-link">
        View Store <ion-icon name="arrow-forward-outline" />
      </span>
    </div>
  </div>
</div>
